.categories {
    font-size: 2em;
}

.active-title {
    text-align: center;
    .title {
        font-size: 3em;
    }
    .description {
        font-size: 1.5em;
    }
}

.sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.warning {
    color: rgb(122, 0, 0);
}